/* 自定义全局样式 */

/* 全局字体和背景设置 */
body {
  background-color: #fdf5e6;  /* 米色背景 */
  color: #333;  /* 全局文本颜色 */
}

/* 顶部导航栏样式 */
.navbar {
  background-color: #d2b48c;  /* 卡其色背景 */
  border-bottom: 2px solid #8b4513;  /* 深棕色边框 */
}

/* 确保导航栏链接的颜色应用 */
.navbar a {
  color: #333;  /* 导航栏链接颜色为深灰色，使用 !important 确保颜色应用 */
  transition: color 0.3s ease;  /* 添加过渡效果，鼠标悬停时颜色平滑变化 */
}

.navbar a:hover {
  color: #ff8c00 !important;  /* 鼠标悬停时的链接颜色为亮橙色 */
}

/* 确保导航栏图标的显示 */
.navbar .fa-github, .navbar .fa-linkedin {
  font-size: 1.3em;  /* 调整图标大小 */
  color: #333 !important;  /* 确保图标颜色与其他链接一致 */
  margin-left: 5px;  /* 给图标与其他链接留出间距 */
  transition: color 0.5s ease;  /* 添加过渡效果，鼠标悬停时颜色平滑变化 */
}

/* 鼠标悬停时的图标变色效果 */
.navbar .fa-github:hover, .navbar .fa-linkedin:hover {
  color: #ff8c00 !important;  /* 鼠标悬停时的颜色变为亮橙色 */
}

/* 标题样式 */
h1, h2, h3, h4, h5, h6 {
  color: #8b4513;  /* 深棕色标题，符合卡其色调 */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);  /* 轻微的阴影效果，使标题更具立体感 */
}

/* 链接样式 */
a {
  color: #8b4513;  /* 使用深棕色，符合整体配色 */
  text-decoration: underline;  /* 保持链接的可见性 */
}

a:hover {
  color: #d2691e;  /* 鼠标悬停时的颜色变为巧克力色，提供对比 */
}

/* 按钮样式 */
.btn {
  background-color: #d2b48c;  /* 使用卡其色按钮背景 */
  border: 2px solid #8b4513;  /* 深棕色按钮边框 */
  color: #333;  /* 按钮文字颜色 */
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: #8b4513;  /* 鼠标悬停时按钮颜色变深 */
  border-color: #d2b48c;  /* 鼠标悬停时边框颜色变浅 */
  color: #fff;  /* 鼠标悬停时按钮文字颜色变为白色 */
}

/* 代码块样式 */
pre, code {
  background-color: #f5f5f5;  /* 保持代码块的背景颜色一致 */
  border: 1px dashed #ddd;  /* 使用虚线边框，符合 Sketchy 主题的手绘风格 */
  padding: 10px;
  border-radius: 5px;
  font-size: 0.95em;
  color: #2c3e50;
}

/* 更新日志部分样式 */
.update-log {
  background-color: #8F9779; /* 抹茶色背景 */
  border-left: 5px solid #4B3621; /* 深棕色边框 */
  padding: 10px 20px;
  margin: 20px 0;
  border-radius: 5px;
}

.update-log h3 {
  color: #F5F5F5; /* 米白色标题 */
  margin-top: 0;
}

.update-log ul {
  list-style-type: square; /* 方块样式的列表符号 */
  color: #333333; /* 深灰色，专业感增强 */
}

.update-log ul li {
  margin-bottom: 5px; /* 列表项之间的间距 */
}